<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Culture Support</title>
  <link rel="stylesheet" href="/styles/home.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
    integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div id="container">
    <div class="overlay" id="logoutOverlay">
      <div class="confirmation">
        <div class="cancelSign">
          <i class="ri-close-line" id="closeOverlay"></i>
        </div>
        <h4>Complete this action?</h4>
        <p>Confirm to logout &#128540; </p>
        <div>
          <button class="confirm" id="confirmLogout">Confirm</button>
        </div>
        <div>
          <button class="cancel" id="cancelLogout">Cancel</button>
        </div>
      </div>
    </div>
    <div class="side">
      <div class="menu">
        <div class="menu-item home-section selected">
          <i class="ri-chat-1-line"></i>
        </div>
        <div class="menu-item profile-section">
          <i class="ri-user-line"></i>
        </div>
      </div>
      <div class="logout" id="logoutButton">
        <div class="menu-item">
          <i class="ri-logout-box-line"></i>
          <span class="tooltip">Logout</span>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <h1>Culture Support</h1>
      <div class="search-bar">
        <i id="fas" class="ri-search-line" style="color: #a1a1a1;"></i>
        <input type="text" placeholder="Search Users">
      </div>
      <div class="recent">
        <h4>Recent</h4>
      </div>
      <div id="chatContainer" style="overflow-y:scroll; height:80vh;">

      </div>
    </div>

    <div class="chat-side">

      <!-- chat header are done -->
      <div id="chatHeader">

      </div>

      <!-- chat section are done -->
      <div class="chat-section">

      </div>

      <!-- input details are done -->
      <div id="inputSection">

      </div>
    </div>
  </div>
  <audio id="matchSound" src="/sound/message1.mp3"></audio>
  <audio id="defaultSound" src="/sound/messageMain.mp3"></audio>

  <div id="notificationCard" class="notification-card">
    <div class="notification-content">
      <p id="notificationMessage" class="notification-message"></p>
      <div class="notification-buttons">
        <button id="acceptButton" class="btn btn-primary">Accept</button>
        <button id="rejectButton" class="btn btn-secondary">Reject</button>
      </div>
    </div>
  </div>
  <script src="/js/home.js"></script>
</body>

</html>