* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

#container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    color: black;
    border-right: 1px solid #e0e0e0;
}

.menu {
    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.menu-item i {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-item.selected,
.menu-item:hover {
    background-color: #E6EBF5;
}

.menu-item .tooltip {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu-item:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.logout {
    margin-top: 20px;
}

.menu-item.selected {
    background-color: #E6EBF5;
}

.sidebar {
    background-color: #F5F7FB;
    width: 20%;
    height: 100%;
    padding: 20px;
}

.sidebar h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #E6EBF5;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #E6EBF5;
    outline: none;
    font: 1em sans-serif;
}

.search-bar input::placeholder {
    color: #8c96a5;
    font: 1em sans-serif;
    font-size: 15px;
}

.search-bar input:focus {
    outline: none;
    /* box-shadow: 0 0 0 2px #4d90fe;  */
}

.chat_side {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.recent {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
}

.recent h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.user:hover {
    background-color: #E6EBF5;
}

::-webkit-scrollbar {
    width: 5px;
}

.user-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBDBF9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.user-image h4 {
    display: flex;
    color: blueviolet;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h4 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
}

.user-info p {
    font-size: 14px;
    font-weight: 400;
    color: #8c96a5;
}

.chat-side {
    height: 100%;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    height: 60px;
    align-items: center;
}

.user-top {
    margin: 20px;
    display: flex;
    align-items: center;
}

.chat-section {
    overflow-y: scroll;
    padding: 10px;
    height: 90vh;
}

.client {
    background-color: #7269EF;
    width: 15vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 10px 10px 10px 0;
    margin-bottom: 10px;
    margin-right: auto;
    word-wrap: break-word;
    word-break: break-word;
}

.client h3 {
    color: white;
    font-weight: 400;
    white-space: normal;
    font-size: medium;
    overflow: hidden;
}

.support {
    background-color: #EFF2F7;
    width: 15vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 10px 10px 0 10px;
    margin-bottom: 10px;
    margin-left: auto;
    word-wrap: break-word;
    word-break: break-word;
}

.support h3 {
    color: rgb(102, 102, 102);
    font-weight: 400;
    width: 100%;
    white-space: normal;
    font-size: medium;
    overflow: hidden;
}

.input-filed {
    border-top: 1px solid #e0e0e0;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

.input-filed input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 40px;
    background-color: #E6EBF5;
    outline: none;
    font: 1em sans-serif;
}

.icon-send {
    margin-left: 20px;
    background-color: #7269EF;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa {
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100%;
    overlay: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.cancelSign {
    display: flex;
    align-items: end;
    justify-content: end;
    cursor: pointer;
}

.confirmation {
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.confirmation h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
}

.confirmation p {
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
}

.confirm {
    width: 100%;
    background-color: #7269EF;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
}

.cancel {
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    cursor: pointer;
}

.notification-card {
    position: absolute;
    top: 10px;
    right: 30px;
    display: none;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.notification-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-buttons button {
    margin-left: 5px;
}